@using System.Web.Http.Routing
@model AutoBody.Models.APICredentialsModel

@{
    ViewBag.Title = "Store API Credentials";
}

@section Header {
    @Html.ActionLink("Cancel", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Details</li>
        
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @Value = ViewBag.Credentials.Username })            
        </li>
        
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @Value = ViewBag.Credentials.Password })            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.SourceName)
            @Html.TextBoxFor(m => m.SourceName, new { @Value = ViewBag.Credentials.SourceName })            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.SourcePassword)
            @Html.TextBoxFor(m => m.SourcePassword, new { @Value = ViewBag.Credentials.SourcePassword })            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.SiteID)
            @Html.TextBoxFor(m => m.SiteID, new { @Value = ViewBag.Credentials.SiteID })
        </li>
        
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.StaffName)
            @Html.TextBoxFor(m => m.StaffName, new { @Value = ViewBag.Credentials.StaffName })
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.StaffPassword)
            @Html.TextBoxFor(m => m.StaffPassword, new { @Value = ViewBag.Credentials.StaffPassword })
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="Save Credentials" />
        </li>
    </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}